{% extends 'base.html.twig' %}

{% block body %}
    <h1>BezeroZigorra</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bezeroZigorra.id }}</td>
            </tr>
            <tr>
                <th>Zigorrahasi</th>
                <td>{% if bezeroZigorra.zigorraHasi %}{{ bezeroZigorra.zigorraHasi|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Zigorraamaitu</th>
                <td>{{ bezeroZigorra.zigorraAmaitu }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if bezeroZigorra.createdAt %}{{ bezeroZigorra.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if bezeroZigorra.updatedAt %}{{ bezeroZigorra.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kudeatu_bezerozigorra_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('kudeatu_bezerozigorra_edit', { 'id': bezeroZigorra.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
