{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-datetimepicker.min.css') }}">

{% endblock %}

{% block main %}
    <div id="flash-messages"></div>
    <section class="content-header">
        <div class="row">
            <div class="col-sm-5">
                <h1 class="title">Mailegu berria</h1>
            </div>
        </div>
    </section>

    {% if zigorrak is defined %}
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <img src="{{ asset('bundles/app/img/logo.jpg') }}" alt="">
            <div id="flash-messages" class="row">
                <div class="box-body with-border">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Adi!</h4>
                        <p>Bezero honek zigorrak ditu!</p>
                        <br/>

                        <div class="table-responsive no-padding">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>Zigorra</th>
                                    <th>Hasi</th>
                                    <th>Amaitu</th>
                                </tr>
                                {% for z in zigorrak %}
                                    <tr>
                                        <td>{{ z.zigorra.izena }}</td>
                                        <td>{{ z.zigorraHasi | date('Y-m-d H:i:s') }}</td>
                                        <td>{{ z.zigorraAmaitu | date('Y-m-d H:i:s') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3"></div>
    {% endif %}

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        MATXURA
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Matxura zehaztu</h4>
                </div>
                <div class="modal-body">
                    <select class="form-control select2matxura">
                        {% for m in matxurak %}
                            <option value="{{ m.id }}">{{ m.izena }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ezeztatu</button>
                    <button type="button" class="btn btn-primary">Gorde</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <section id="main" class="content">
        {{ form_start(form) }}
        <div class="row">
            {{ form_errors(form) }}
            <div class="col-sm-12 large">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-edit"></i>
                        <h3 class="box-title">Sartu datuak eta gorde</h3>
                    </div>
                    <div class="box-body pad">
                        <div class="row">
                            <div class="col-sm-12 large">
                                &nbsp;
                                <br>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">

                                <div class="form-group  field-text">
                                    {{ form_label(form.bezeroa, 'Bezeroa', { 'label_attr': {'class': 'control-label'} }) }}
                                    {{ form_errors(form.bezeroa) }}
                                    {{ form_widget(form.bezeroa, {'attr': {'class': 'form-control', 'data-widget':'select2'}}) }}
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group  field-text">
                                    {{ form_label(form.guneahasi, 'Hasierako gunea', { 'label_attr': {'class': 'control-label'} }) }}
                                    {{ form_errors(form.guneahasi) }}
                                    {{ form_widget(form.guneahasi, {'attr': {'class': 'form-control', 'data-widget':'select2'}}) }}
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group  field-text">
                                    {{ form_label(form.bizikleta, 'Bizikleta', { 'label_attr': {'class': 'control-label'} }) }}
                                    {{ form_errors(form.bizikleta) }}
                                    {{ form_widget(form.bizikleta, {'attr': {'class': 'form-control', 'data-widget':'select2'}}) }}
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group  field-text">
                                    {{ form_label(form.fetxa_hasi, 'Eguna eta ordua', { 'label_attr': {'class': 'control-label'} }) }}
                                    {{ form_errors(form.fetxa_hasi) }}
                                    {{ form_widget(form.fetxa_hasi, {'attr': {'class': 'form-control form_datetime', 'placeholder':'Aukeratu eguna'}}) }}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group  field-text">
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group  field-text">
                                    {{ form_label(form.erabilera, 'Erabilera estimatua', { 'label_attr': {'class': 'control-label'} }) }}
                                    {{ form_errors(form.erabilera) }}
                                    {{ form_widget(form.erabilera, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="col-xs-12 form-actions" style="width: 100%;">
                                <div class="form-group">
                                    <div id="form-actions-row">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-save"></i> Mailegua sortu
                                        </button>
                                        <a class="btn btn-secondary action-list" href="{{ path('maileguak_menu') }}">Ezeztatu eta itzuli</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        {{ form_end(form) }}
    </section>

{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/app/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap-datetimepicker.eu.js') }}"></script>

    <script type="text/javascript">
        $(function() {

            // Select2 widget is only enabled for the <select> elements which explicitly ask for it
            $('#main').find('form select[data-widget="select2"]').select2({
                theme: 'bootstrap'
            });

            $('.select2matxura').select2({
                theme: 'bootstrap'
            });

        });
    </script>
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            language:  'eu',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>
{% endblock %}