{% extends 'base.html.twig' %}

{% block main %}
    <h1>Maileguak list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fetxa_hasi</th>
                <th>Fetxa_amaitu</th>
                <th>Erabilera</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for maileguak in maileguaks %}
            <tr>
                <td><a href="{{ path('maileguak_show', { 'id': maileguak.id }) }}">{{ maileguak.id }}</a></td>
                <td>{% if maileguak.fetxahasi %}{{ maileguak.fetxahasi|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if maileguak.fetxaamaitu %}{{ maileguak.fetxaamaitu|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ maileguak.erabilera }}</td>
                <td>{% if maileguak.createdAt %}{{ maileguak.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if maileguak.updatedAt %}{{ maileguak.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('maileguak_show', { 'id': maileguak.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('maileguak_edit', { 'id': maileguak.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('maileguak_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
