{% extends 'base.html.twig' %}

{% block body %}
    <h1>Maileguak</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ maileguak.id }}</td>
            </tr>
            <tr>
                <th>Fetxa</th>
                <td>{% if maileguak.fetxa %}{{ maileguak.fetxa|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if maileguak.createdAt %}{{ maileguak.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if maileguak.updatedAt %}{{ maileguak.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('maileguak_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('maileguak_edit', { 'id': maileguak.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
